@media screen and (max-width: 1024px){
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
:root {
    --color-white: #FFFFFF;
    --color-black: #030303;
    --color-gray: #000000;
    --color-gold: #9D8665;
    --color-brown: #710707;
    --margin-top_bottom: 60px;
}


@mixin font_roboto200{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 200;
	font-size: 20px;
	line-height: 23px;
	color: var(--color-gray, gray);
}

@mixin font_h2{
	display: flex;
	font-family: 'Forum', cursive;
	font-style: normal;
    font-weight: 400;
	font-size: 50px;
	line-height: 90px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: var(--color-white, white);
}
@mixin font_roboto300{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 26px;
	color: var(--color-white, white);

}
@mixin font_roboto400{
	display: flex;
    font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400px;
	font-size: 20px;
	line-height: 200%;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: var(--color-white, white);

}

@mixin font_roboto500{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: var(--color-gray, gray);

}
@mixin font_h3{
	font-family: 'Forum', cursive;
	font-style: normal;
	font-weight: 400px;
	font-size: 28px;
	line-height: 31px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: var(--color-gray, gray);
}

@mixin font_text{
	display: flex;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 2px;
	color: var(--color-white, white);
}



@mixin font_h5{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 33px;
	color: var(--color-gray, gray);
}

.wrapper {
	max-width: 984px;
	margin: 0 auto;
}

.header__body {
	height: 150px;
}

.header__logo {
	height: 33px;
	width: 200px;
	margin-top: 20px;
}

.header__burger {
	position: absolute;
  	display: block;
  	width: 32px;
  	height: 18px;
  	right: 0;
  	align-items: center;
  	margin-top: 20px;
}
.header__menu{
  	position: absolute;
  	display: block;
  	top: 150px;
  	left: -350px;
  	width: 262px;
  	height: 400px;
  	background: var(--color-black, black);
  	padding: 35px 0px 0 40px;
    transition: all 0.5s ease 0s;

  }
.header__list{
  	display: block;
}

.header__list li{
    display: block;
  	padding-bottom: 25px;
  	margin-left: 0;
}
.header__link {
	display: flex;
	align-items: center;
	@include font_roboto300;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 2px;
	color: var(--color-white, white);
}
.header__link::after {
	content: '';
	position: absolute;
	width: 7.05px;
	height: 12px;
	background: url(../assets/svg/Vector.svg) 100%;	
	right: 145px;
}  
.header__link:hover {
	transform: scale(1.1);
}  
.header__burger span{
  	position: absolute;
  	left: 0;
  	width: 100%;
  	height: 2px;
  	top: 50%;
  	margin-top: -1px;
  	background: var(--color-white, white);
  	transition: all 0.3s ease 0s;
  	
}

.header__burger:before,
.header__burger:after{
  	content: '';
  	position: absolute;
  	width: 100%;
  	height: 2px;
    left: 0;
    right: 0;
    background: var(--color-white, white);
    transition: all 0.3s ease 0s;
}
.header__burger:before{
    top: 0;
}
.header__burger:after{
    bottom: 0;
}
.header__burger.active span{
    transform: scale(0);
}
.header__burger.active:before{

  	transform: rotate(45deg);
  	top: 8px;
}
.header__burger.active:after{
  	transform: rotate(-45deg);
  	bottom: 8px;
}
.header__menu.active{
  	top: 150px;
  	left: 0;
  	z-index: 50;
  	transition: all 0.5s;
}
.header__menu.active + .welcome__field {
    opacity: 0;
}




.welcome__flex {
	max-height: 585px;
}
.welcome__field_h2 {	
	@include font_h2;
	margin-top: 50px;
	margin-bottom: 25px;	
}
.welcome__text {
	@include font_text;
	margin-bottom: 50px;
}
.welcome__btn {
	@include font_roboto200;
	width: 300px;
	height: 60px;
	color: var(--color-white, white);
}
.welcome__slider {
	justify-content: flex-end;
	width: 700px;
}
.welcome__sliders {
	display: block;
	position: relative;
	margin-left: auto;
	width: 78%;
	padding-left: 28%;
}
.pagingInfo {
	@include font_roboto400;
	margin-right: 20px;	
}
.welcome__img {
	text-align: right;
	max-width: 700px;
	max-height: 525px;
	margin-bottom: 60px;
	
}

.welcome__sliders .slick-arrow{	
	bottom: 56px;
}
.welcome__sliders .slick-dots{
	right: 200px;
	bottom: 52px;

}






.Virtual_tour {
	margin-bottom: var(--margin-top_bottom, 60px);
}

.Virtual_tour__h2 {
	@include font_h2;
	color:  var(--color-gold, gold);
	margin-top: var(--margin-top_bottom, 60px);
	margin-top: 55px;
	display: block;
	margin-bottom: var(--margin-top_bottom, 60px);
 
}
.Virtual_tour__h2::after {
	content: "";
	margin-top: 10px;

}


.Virtual_tour__cards {

	grid-template-columns: 1fr 1fr;
  	grid-template-rows: 1fr 1fr 1fr;
    gap: 60px 108px;
    align-items: none;
    width: 78%;
  	margin: 0 auto;
}
.Virtual_tour__cards__description {
	max-width: 330px;
	max-height: 345px;
	margin-bottom: 5px;
	margin: 0 auto;
}

.Virtual_tour__cards__description-h3 {
	@include font_h3;
	margin: 25px 0 10px 0;
}

.Virtual_tour__cards__description-text {
	@include font_roboto200;
}
.Virtual_tour__cards__description-text2 {
	@include font_roboto200;
	font-size: 16px;
	line-height: 19px;
	margin-top: 10px;
	margin-bottom: 10px;
}




.Picture-explore {
	margin-bottom:  var(--margin-top_bottom, 60px);
}
.Picture-explore__flex {
	display: block;
	padding: 55px 0;
}
.Picture-explore__description {
	width: 100%;

}
.Picture-explore__description-h2 {
	@include font_h2;
	display: block;
	position: relative;                        
	margin-bottom: 75px;
}
.Picture-explore__description-h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	margin-top: 10px;


}
.Picture-explore__description-text {
	@include font_roboto300;
	font-size: 20px;
	line-height: 38px;
	margin-bottom: 0;
	padding-right: 0;
}
.Picture-explore__description-text_yellow {
	color:  var(--color-gold, gold);
}
.last-text {
	display: none;
}


.Picture-explore__img {
	width: 75%;
	max-width: 720px;
	max-height: 700px;
	margin: 0 auto;
	margin-top: 53px;

	
}





.video-journey {
	margin-bottom: var(--margin-top_bottom, 40px);
}
.video-journey__title {
	display: flex;
	margin-bottom: var(--margin-top_bottom, 40px);
	margin-bottom: 30px;
}
.video-journey__title-h2 {
	@include font_h2;
	color:  var(--color-gold, gold);
	width: 100%;
}
.video-journey__title-text {
	display: none;

}
.video-journey__big_slider {
	margin-bottom: 40px;
}
.video-journey__big_slider-img {
	max-width: 984px;
	max-height: 504px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}
.video-journey__big_slider-img_play {
	position: absolute;
	max-width: 220px;
	max-height: 220px;
	background: url("../assets/img/play.png") 50% no-repeat;
	background-size: cover;
	z-index: 15;

}

.video-journey__big_slider__panel {
	height: 60px;
}
.video-journey__big_slider__panel-play {
	width: 23px;
	height: 31px;
	background: url(../assets/svg/play.svg) 100% no-repeat;
	border: none;
	margin-left: 2.8%;
}
.video-journey__big_slider__panel-play:hover {
	opacity: 0.5;
	transition: 0.3s;
}
.video-journey__big_slider__panel-value {
	width: 26px;
	height: 20px;
	background: url(../assets/svg/volume.svg)  no-repeat;
	background-size: cover;
	border: none;
}
// .video-journey__big_slider__panel-value img {
// 	width: auto;
// }
.video-journey__big_slider__panel-value:hover {
	opacity: 0.5;
	transition: 0.3s;
}
.video-journey__big_slider__panel-big_screen {
	width:26px;
	height: 26px;
	background: url(../assets/svg/Frame.svg) no-repeat;
	background-size: cover;
	border: none;
	margin-right: 3.1%;
}
.video-journey__big_slider__panel-big_screen:hover {
	opacity: 0.5;
	transition: 0.3s;
}

.progress {
  	background: linear-gradient(to right, #710707 0%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
  	border: solid 2px #710707;
  	border-radius: 0;
  	border: 0;
  	height: 5px;
  	width: 560px;
  	outline: none;
  	transition: background 450ms ease-in;
  	-webkit-appearance: none;
 	margin: 0 1%;
}

.progress::-webkit-slider-thumb {
  	width: 15px;
  	height: 15px;
 	border-radius: 50%;
  	-webkit-appearance: none;
  	cursor: ew-resize;
    background: #FFFFFF;
}


.progress2 {
  	background: linear-gradient(to right, #710707 0%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
  	border: solid 2px #710707;
  	border-radius: 0;
  	border: 0;
  	height: 5px;
  	width: 143px;
  	outline: none;
  	transition: background 450ms ease-in;
  	-webkit-appearance: none;
  	margin: 0 0.5%;
}

.progress2::-webkit-slider-thumb {
  	width: 15px;
  	height: 15px;
  	border-radius: 50%;
  	-webkit-appearance: none;
  	cursor: ew-resize;
  	background: #FFFFFF;
}

.video-journey__small-slider {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.center {
	margin: 0 41px;
}
.video-journey__small-slider_item {
	width: 300px;
	height: 170px;

}



.art-gallery {
	
	padding-top: var(--margin-top_bottom, 60px);
	padding-top: 52px;
	margin-bottom: var(--margin-top_bottom, 60px);
	margin-bottom: 50px;
}
.art-gallery__h2 {
	@include font_h2;
	margin-bottom: var(--margin-top_bottom, 60px);
	margin-bottom: 50px;
}
.art-gallery__gallery {
	margin-top: var(--margin-top_bottom, 60px);
	padding-top: 40px;
}


.art-gallery__gallery_filter {
	width: 100%;
	height: 239px;
}

  




.buy-tickets {
	margin-bottom: var(--margin-top_bottom, 40px);
	margin-bottom:55px;
}
.buy-tickets__h2 {
	@include font_h2;
	display: block;
	color:  var(--color-gold, gold);
	margin-bottom: var(--margin-top_bottom, 40px);
}
.buy-tickets__h2::after {
	content: "";
	display: block;
	background: var(--color-brown, brown);
	height: 2px;
	margin-top: 12px;
}
.buy-tickets__form {
	margin-bottom: var(--margin-top_bottom, 40px);
}
.buy-tickets__form_img {
	width: 71%;
	max-height: 440px;
}
.buy-tickets__form-page{
	width: 29%;
	
}
.buy-tickets__form-page__ticket-type {
	display: none;
}

.buy-tickets__form-page_h5-right {
	@include font_h5;
	margin-bottom: 29px;
	display: flex;
	justify-content: flex-start;
}
.buy-tickets__form-page__amount {
	display: block;
	width: 100%;
	margin-left: 26%;
}
.buy-tickets__form-page_text {
	@include font_roboto300;
	color: var(--color-gray, gray);
	margin-bottom: 10px;
	margin-left: 0;
	margin-top: 29px;
}
.buy-tickets__form-page_btn {
	border: 3px solid #000000;
	// box-sizing: border-box;
	width: 170px;
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 0;
	margin-right: 0;
}



.buy-tickets__form-page_total {
	display: flex;
	margin-top: 25px;
	margin-left: 0;
}
.buy-tickets__form-page_total-count {
	@include font_h5;
	letter-spacing: 1.65px;
	margin-right: 13px;
}
.buy-tickets__form-page_btn-last {
	@include font_roboto300;
	margin-top: 69px;

}
.buy-tickets__form-page_btn-last:hover {
	color: #000000;
	background: #9D8665;
	transition: 0.7s;
	border: none;
}




.contacts {
	margin-bottom: var(--margin-top_bottom, 60px);
}
.contacts__h2 {
	@include font_h2;
	display: block;
	color:  var(--color-gold, gold);
	margin-bottom: var(--margin-top_bottom, 60px);
}
.contacts__h2::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background: var(--color-brown, brown);
	margin-top: 10px;
}
.contacts__cntact__description {
	width: 29.5%;
}
.contacts__cntact__description_h5 {
	@include font_roboto500;
	margin-bottom: 35px;
	color: var(--color-gray, gray);
}
.contacts__cntact__description_text {
	@include font_roboto300;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 15px;
	color: var(--color-gray, gray);
}
.contacts__cntact__description_link {
	@include font_roboto300;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 15px;
	color: var(--color-gray, gray);
	margin-left: 5px;
}
.contacts__cntact__description_mail {
	
	display: flex;
	
}
.contacts__cntact__description_phone {
	@include font_roboto300;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 15px;
	color: var(--color-gray, gray);
	margin-left: 5px;
}
 
.contacts__map {
	position: relative;
  	width: 694px;
  	height: 454px;
}






.footer-main {
	height: 243px;	
}

.footer-main__logo {
	margin-top: 55px;
	margin-bottom: 50px;
	width: 194px;
	height: 33px;

}
.footer-main__logo:hover {
	filter: invert(66%) sepia(6%) saturate(1641%) hue-rotate(356deg) brightness(81%) contrast(93%);
	transition: 0.5s;
}
.footer-main__nav {
	display: flex;
	width: 37%;
}
.footer-main__menu {
	margin-top: 70px;
	margin-bottom: 20px;
	margin-left: 30px;

}
.footer-main__menu li {
	margin-bottom: 25px;

}
.footer-main__menu_link {
	@include font_roboto200;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: 2px;
	color: var(--color-white, white);
	margin-right: 119px;
}
.footer-main__menu_link:hover {
	color: #9D8665;
	transition: 0.5s;
}
.footer-main__icon {
	width: 40%;
	margin-top: 145px;
	margin-bottom: 50px;
	
}


  




}